<div class="sidenav bg-primary">
  <a [routerLink]="['/home']"><i class="fa fa-car" style="font-size:60px;color:whitesmoke;"></i></a>
  <a [routerLink]="['/vehicles']">Vehicles</a>
  <a [routerLink]="['/alerts/high']">Alerts</a>
  <a [routerLink]="['/location']">Location</a>
  <a [routerLink]="['/history/:id']">History</a>
</div>
<div class="main center">
  <br>
  <div class="container">
    <router-outlet></router-outlet>
    <hr>
    <footer>
      &copy; 2017 Egen Solutions
    </footer>
</div>
</div>

