<h2>
  Vehicles Tracked:
</h2>
<table class="table">
  <thead>
  <tr>
    <th>Vin</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>RPM</th>
    <th>Fuel</th>
    <th>Last Service</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehicles">
    <td><a [routerLink]="['/vehicles', vehicle.vin ]">{{vehicle.vin}}</a></td>
    <td>{{vehicle.make}}</td>
    <td>{{vehicle.model}}</td>
    <td>{{vehicle.year}}</td>
    <td>{{vehicle.redlineRpm}}</td>
    <td>{{vehicle.maxFuelVolume}}</td>
    <td>{{vehicle.lastServiceDate | date}}</td>
  </tr>
  </tbody>
</table>

